body{
    background: url(../images/topographic.png) top center no-repeat;
    background-repeat: repeat;
  }

#title{
    display: flex; /* Look into  */
    justify-content: center; 
    color: rgb(175, 12, 47);
    font-size: 35px;
  }